USE [master]
GO
/****** Object:  Database [VdmtK23CNT3_Ls10Db]    Script Date: 25/06/2025 8:31:02 SA ******/
CREATE DATABASE [VdmtK23CNT3_Ls10Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VdmtK23CNT3_Ls10Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.VUDOMINHTHANH\MSSQL\DATA\VdmtK23CNT3_Ls10Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VdmtK23CNT3_Ls10Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.VUDOMINHTHANH\MSSQL\DATA\VdmtK23CNT3_Ls10Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VdmtK23CNT3_Ls10Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VdmtK23CNT3_Ls10Db]
GO
/****** Object:  Table [dbo].[VdmtPost]    Script Date: 25/06/2025 8:31:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VdmtPost](
	[vdmtid] [int] NOT NULL,
	[vdmtTitle] [nvarchar](250) NULL,
	[vdmtImage] [nvarchar](250) NULL,
	[vdmtContent] [ntext] NULL,
	[vdmtStatus] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[VdmtPost] ([vdmtid], [vdmtTitle], [vdmtImage], [vdmtContent], [vdmtStatus]) VALUES (1, N'VuThanh', N'haha', N'asdfghjkl;', 1)
GO
USE [master]
GO
